name: Trigger Jenkins Job

on:
  push:
    branches:
      - main

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Jenkins via REST API with CSRF token
        env:
          JENKINS_USER: admin
          JENKINS_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
          JENKINS_URL: http://34.22.89.44:8080
        run: |
          CRUMB=$(curl -s -u admin:$JENKINS_TOKEN "$JENKINS_URL/crumbIssuer/api/xml?xpath=concat(//crumbRequestField,\":\",//crumb)")
          echo "Crumb: $CRUMB"
          curl -X POST "$JENKINS_URL/job/devops/build" \
            --user "admin:$JENKINS_TOKEN" \
            -H "$CRUMB" \
            --data-urlencode "token=build-token" \
            --data-urlencode "GIT_COMMIT=${GITHUB_SHA}"
