name: Build & Notify Jenkins

on:
  push:
    branches: [ "main" ]

jobs:
  notify-jenkins:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Jenkins via Webhook
        run: |
          CRUMB=$(curl -s 'http://34.22.89.44:8080/crumbIssuer/api/xml?xpath=concat(//crumbRequestField,":",//crumb)')
          curl -X POST "http://34.22.89.44:8080/generic-webhook-trigger/invoke" \
            -H "$CRUMB" \
            --data "token=my-webhook-secret" \
            --data-urlencode "GIT_BRANCH=main"